.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  border: none;
  outline: none;
}

.navbarItem {
  color: white;
  opacity: 0.9;
}

.navbarItem:hover {
  opacity: 1;
}

.candidates {
  height: 10rem;
}

.candidates-header {
  background-color: #e1eec7;
}

.candidates-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.applications {
  height: 10rem;
}

.applications-header {
  background-color: #e1eec7;
}
