<div class="container">
    <div class="col-md-5 mx-auto mt-5">
        <div class="alert alert-{{alertType}} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <strong>{{alertMsgStrong}}</strong> {{alertMsg}}
        </div>
        <a name="goback" id="goback" class="btn btn-primary" href="/restaurant-owner/home"
            role="button">{{goBackMsg}}</a>
    </div>
</div>