<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto mt-5">
            {{#if linkExpired}}
            <div class="invalid-section mx-auto">
                <div class="alert alert-danger shadow" role="alert">
                    <strong>INVALID LINK!</strong> The Password Reset Link is either Invalid or Expired.
                </div>
                <div class="home-btn col-2 mx-auto">
                    <a href="/" class="btn btn-outline-warning shadow">HOME</a>
                </div>
            </div>
            {{else}}
            {{#if passwordError}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Oops!</strong> New Password and Confirm Password must be same. Please Try Again
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
            {{#if resetDone}}
            <div class="invalid-section mx-auto">
                <div class="alert alert-success shadow" role="alert">
                    <strong>Congrats!</strong> Password Updated Successfully
                </div>
                <div class="home-btn col-2 mx-auto">
                    <a href="/" class="btn btn-outline-primary shadow">HOME</a>
                </div>
            </div>
            {{else}}
            {{#if serverError}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Sorry</strong> Server Error. Please Try Again Later
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h4 class="card-title">Reset Password</h4>
                    <form action="/resetpassword" method="POST">
                        <div class="form-group">
                            <label for="newPass">New Password</label>
                            <input type="password" id="newPass" name="newPass" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmNewPass">Confirm Password</label>
                            <input type="password" id="confirmNewPass" name="confirmNewPass" class="form-control"
                                required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-warning">CHANGE PASSWORD</button>
                        </div>
                    </form>
                </div>
            </div>
            {{/if}}

            {{/if}}
        </div>
    </div>
</div>